{% extends "__base__.html" %}

{% block title %}Nowy przepis{% endblock %}

{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <form action="/recipe/add/" method="post">
            {% csrf_token %}
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <div class="mt-4 ml-4 mr-4">
                <div class="row border-bottom border-3">
                    <div class="col"><h3 class="color-header text-uppercase">Nowy
                        przepis</h3></div>

                </div>
                <table class="table borderless">
                    <tbody>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Nazwa Przepisu</th>
                        <td class="col-7">
                            <input type="text" class="w-100 p-1" value="{{ recipe.name }}" name="recipe_name">
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Opis przepisu</th>
                        <td class="col-7"><textarea class="w-100 p-1" name="description" value=""
                                                    rows="5">{{ recipe.description }}</textarea></td>
                    </tr>
                    <tr class="d-flex">
                        <th scope="row" class="col-2">Przygotowanie(minuty)</th>
                        <td class="col-3">
                            <input class="p-1" type="number" value="{{ recipe.preparation_time }}" name="preparation_time" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row d-flex">
                    <div class="col-5 border-bottom border-3"><h3
                            class="text-uppercase">Sposób przygotowania</h3></div>
                    <div class="col-2"></div>
                    <div class="col-5 border-bottom border-3"><h3
                            class="text-uppercase">Składniki</h3></div>
                </div>
                <div class="row d-flex">
                    <div class="col-5 p-4">
                        <textarea name="how_to_prepare" class="w-100 p-1" rows="10"  name="how_to_prepare">{{ recipe.how_to_prepare }}</textarea>
                    </div>
                    <div class="col-2"></div>

                    <div class="col-5 p-4">
                        <textarea class="w-100 p-1" name="ingredients"  rows="10">{{ recipe.ingredients }}</textarea>
                    </div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit"
                                class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                            Zapisz
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}