{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="/plan/add/"
               class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
                plan</a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
            <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-2">NAZWA</th>
                <th class="col-7">OPIS</th>
                <th class="col-2 center">AKCJE</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">
                {% for plan in plans %}
                <tr class="d-flex">
                    <th scope="row" class="col-1">{{ plan.id }}</th>
                    <td class="col-2">
                        {{ plan.name }}
                    </td>
                    <td class="col-7">{{ plan.description }}</td>
                    <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                        <a href="#" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                        <a href="/plan/{{ plan.id }}/" class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                        <a href="/plan/modify/{{ plan.id }}/" class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                    </td>
                </tr>
                {% endfor %}
            <!-- <tr class="d-flex">
                <td class="col-1">1</td>
                <td class="col-2">Plan jarski na bezmięsny tydzień</td>
                <td class="col-7">
                    Pojęcie kuchnia wegetariańska określa pożywienie, które ani
                    nie zawiera mięsa, ani nie zostało przygotowane na bazie
                    pochodzącej z mięsa (np. na rosole drobiowym).
                    Laktoowowegetarianie (najczęściej spotykany typ wegetarian w
                    zachodnim świecie) spożywają nabiał, laktowegetarianie
                    wykluczają jaja, ale nie inne produkty nabiałowe.
                </td>
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    <a href=""
                       class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                    <a href=""
                       class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                </td>
            </tr>
            <tr class="d-flex">
                <td class="col-1">2</td>
                <td class="col-2">Plan jarski na bezmięsny tydzień</td>
                <td class="col-7">
                    Pojęcie kuchnia wegetariańska określa pożywienie, które ani
                    nie zawiera mięsa, ani nie zostało przygotowane na bazie
                    pochodzącej z mięsa (np. na rosole drobiowym).
                    Laktoowowegetarianie (najczęściej spotykany typ wegetarian w
                    zachodnim świecie) spożywają nabiał, laktowegetarianie
                    wykluczają jaja, ale nie inne produkty nabiałowe.
                </td>
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    <a href=""
                       class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                    <a href=""
                       class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                </td>
            </tr> -->
            </tbody>
        </table>
        <div class="pagination justify-content-center">
        <span class="step-links">
            {% if plans.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ plans.previous_page_number }}">poprzednia</a>
            {% endif %}
    
            <span class="current">
                Strona {{ plans.number }} z {{ paginator.num_pages }}.
            </span>
    
            {% if plans.has_next %}
                <a href="?page={{ plans.next_page_number }}">następna</a>
                <a href="?page={{ paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}