{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding"><h3 class="color-header text-uppercase">Lista
            Przepisów</h3></div>
        <div class="col noPadding d-flex justify-content-end mb-2"><a
                href="/recipe/add/"
                class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
            przepis</a></div>
    </div>
    <table class="table border-bottom schedules-content">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-2">NAZWA</th>
            <th scope="col" class="col-7">OPIS</th>
            <th scope="col" class="col-2 center">AKCJE</th>
        </tr>
        </thead>
        <tbody class="text-color-lighter">
            {% for recipe in recipes %}
            <tr class="d-flex">
                <th scope="row" class="col-1">{{ recipe.id }}</th>
                <td class="col-2">
                    {{ recipe.name }} ({{ recipe.vote }} głosy)
                </td>
                <td class="col-7">{{ recipe.description }}</td>
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="#" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    <a href="/recipe/{{ recipe.id }}/" class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                    <a href="/recipe/modify/{{ recipe.id }}/" class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="pagination justify-content-center">
        <span class="step-links">
            {% if recipes.has_previous %}
                <a href="?page=1">&laquo; pierwsza</a>
                <a href="?page={{ recipes.previous_page_number }}">poprzednia</a>
            {% endif %}
    
            <span class="current">
                Strona {{ recipes.number }} z {{ paginator.num_pages }}.
            </span>
    
            {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}">następna</a>
                <a href="?page={{ paginator.num_pages }}">ostatnia &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}