{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
                <div class="dashboard-header m-4">
                    <div class="dashboard-menu">
                        <div class="menu-item border-dashed">
                            <a href="/recipe/add/">
                                <i class="far fa-plus-square icon-plus-square"></i>
                                <span class="title">dodaj przepis</span>
                            </a>
                        </div>
                        <div class="menu-item border-dashed">
                            <a href="/plan/add/">
                                <i class="far fa-plus-square icon-plus-square"></i>
                                <span class="title">dodaj plan</span>
                            </a>
                        </div>
                        <div class="menu-item border-dashed">
                            <a href="/plan/add-recipe/">
                                <i class="far fa-plus-square icon-plus-square"></i>
                                <span class="title">dodaj przepis do planu</span>
                            </a>
                        </div>
                    </div>

                    <div class="dashboard-alerts">
                        <div class="alert-item alert-info">
                            <i class="fas icon-circle fa-info-circle"></i>
                            <span class="font-weight-bold">Liczba przepisów: {{ list_recipes }}</span>
                        </div>
                        <div class="alert-item alert-light">
                            <i class="far icon-calendar fa-calendar-alt"></i>
                            <span class="font-weight-bold">Liczba planów: {{ list_plans }}</span>
                        </div>
                    </div>
                </div>
                <div class="m-4 p-4 border-dashed">                
                                   
                
                    <h2 class="dashboard-content-title">
                        <span>Ostatnio dodany plan:</span> {{ plan.name }}
                    </h2>              
                    {% for day, recipe_plans_day in recipe_plans.items %}
                        {% if recipe_plans_day %}
                            <table class="table">
                                <thead>
                                    <tr class="d-flex">
                                        <th class="col-2">{{ day }}</th>
                                        <th class="col-8"></th>
                                        <th class="col-2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for recipe_plan in recipe_plans_day %}
                                        <tr class="d-flex">
                                            <td class="col-2">{{ recipe_plan.meal_name }}</td>
                                            <td class="col-8">{{ recipe_plan.recipe.name }}</td>
                                            <td class="col-2">
                                                <a href="{% url 'recipe_details' id=recipe_plan.recipe.id %}" class="btn btn-primary rounded-0">Szczegóły</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    {% endfor %}
                    
                   
                </div>
{% endblock content %}