{% extends "index.html" %}

{% block title %}Sign In | {% endblock %}

{% block content %}
    
<div class="container d-flex justify-content-center align-items-center" style="min-height: 63vh;">
    <form action="{% url 'register' %}" method="post" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>
        <fieldset class="form-group mb-3">
            <legend class="sr-only">Gender</legend>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="other" value="other">
                <label class="form-check-label" for="other">Other</label>
            </div>
        </fieldset>
        
        <label for="first-name" class="sr-only">First Name</label>
        <input type="text" id="first-name" name="first_name" class="form-control mb-3" placeholder="First Name" required autofocus>

        <label for="last-name" class="sr-only">Last Name</label>
        <input type="text" id="last-name" name="last_name" class="form-control mb-3" placeholder="Last Name" required>

        <label for="login" class="sr-only">Login</label>
        <input type="text" id="login" name="username" class="form-control mb-3" placeholder="Login" required autofocus>
        
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" required>

        <label for="password-confirm" class="sr-only">Confirm Password</label>
        <input type="password" id="password-confirm" name="password_confirm" class="form-control mb-3" placeholder="Confirm Password" required>

        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Email" required>

        <label for="dob" class="sr-only">Date of Birth</label>
        <input type="date" id="dob" name="dob" class="form-control mb-3" placeholder="Date of Birth" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create account</button>
    </form>
</div>
    
{% endblock content %}